.loading {
    display:flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
   
 }
 
 .loading-image {
   position: absolute;
   top:43%;
   z-index: 100;
   width:5%;
 }

 
 

@media screen and (min-width: 768px) and (max-width: 1024px){
    .bulkicon{
        margin-left:0%;
    }
    .addyourprodtitle{
    
        text-decoration: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px; 
    }

        .shopifyicon .icon{
            padding: 6px 45px !important;
        }    
        .shopifylogo{
            position: unset !important;
            width: 76px;
        } 
        .faicon {
            padding: 22px 9px !important;
        }
}    

@media screen and (min-width: 1025px) and (max-width: 1500px){

    .bulkicon{
        margin-left:5%;
    }
    .addyourprodtitle{
    
        text-decoration: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px; 
    }

        .shopifyicon .icon{
            padding: 6px 45px !important;
        }    
        .shopifylogo{
            position: unset !important;
            width: 83px;
        }      
    }
    
    
    @media screen and (min-width: 1501px){
        .addyourprodtitle{
    
            text-decoration: none;
            font-family: Roboto;
            font-size: 21px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px; 
        }
        .bulkicon{
            margin-left:19%;
        }

        .shopifylogo{
            position: unset !important;
            width: 83px;
        }        
    }
 

    
    
    .bottomspace{
        float: left;
        width: 100%;
        margin-bottom:10%
    }