html, body {
    height: 100%;
    margin: 0px;
}
   .has-danger, .text-danger{
      color: red;
    }
.container{
    
    width:100%;
    height:100vh;
   
    margin:0px;
    padding:0px;
    background-image: url("../../assets/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size:cover
}

.authContainer{
    width:100%;
    height:100vh;
    margin:0px;
    padding:0px;    
    /* background-image: linear-gradient(rgba(75,160,255,.8), rgba(28,42,255,.8)); */

    font-family: 'Roboto', sans-serif;
}
.authLeftCoulmn{
float: left;
height: 100%;
width: 100%;
}

.authRightCoulmn{
    float: left;
    height: 100%;
    width: 100%;
  
  }

.appLogo{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
}
.emailField>div>div>div>div::after, .passwordField>div>div>div>div::after{
    border-bottom: none !important;
}  
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
    .authForm{
        width:25%!important;
        height:375px;
        background-color: #eee;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        -moz-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        position: fixed;
        top: 50%;
        right: 15%;
        transform: translate(25%, -50%);   
        padding:30px;
      }    
      
    .appLogo img{ 
        width: 57%;
    }
    .loginContent{
        padding: 20px 14px;
    }

    .loginhead{
        font-size: 18px; 
        margin-bottom: 10px !important;
    } 
    .authtitlecont2{
        font-weight: 400;
        font-size: 8px;
        color: #fff;
	    position: absolute;
        top: 84%;
        left: 12%;
    }   
    
    .loginForm input, .inputField{
        font-size:.9em;
        padding:8px 0px;
    }

    .loginsubmit{
        cursor: pointer;
        margin-top:20px;
        color: white;
        background: linear-gradient(90deg, #EA3E00, #F26400);
        width: 75%;
        padding: 12px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
    }

    .loginForm .inputField{
        margin-bottom: 10px;
        text-align: left;
    }
    .authText{
        font-size: 12px;
        font-weight: 300;
        margin-top:45px;
    }
}    

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (max-Height: 768px) {
  
  
    .authForm{
        width:22%!important;
        height:375px;
        background-color: #eee;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        -moz-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        position: fixed;
        top: 50%;
        right: 15%;
        transform: translate(25%, -50%);   
        padding:30px;
      }    
      
    .appLogo img{ 
        width: 57%;
    }
    .loginContent{
        padding: 20px 35px;
    }

    .loginhead{
        font-size: 18px; 
        margin-bottom: 10px !important;
    } 
    .authtitlecont2{
        font-weight: 400;
        font-size: 12px;
        color: #fff;
	    position: absolute;
        top: 84%;
        left: 12%;
    }   
    
    .loginForm input, .inputField{
        font-size:.9em;
        padding:8px 0px;
    }

    .loginsubmit{
        cursor: pointer;
        margin-top:20px;
        color: white;
        background: linear-gradient(90deg, #EA3E00, #F26400);
        width: 75%;
        padding: 12px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
    }

    .loginForm .inputField{
        margin-bottom: 10px;
        text-align: left;
    }
    .authText{
        font-size: 12px;
        font-weight: 300;
        margin-top:45px;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1366px) and (max-Height: 1024px){
    .authForm{
        width:22%;
        height:375px;
        background-color: #eee;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        -moz-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        position: fixed;
        top: 50%;
        right: 15%;
        transform: translate(25%, -50%);   
        padding:30px;
      }    
      
    .appLogo img{ 
        width: 57%;
    }
    .loginContent{
        padding: 20px 17px;
    }

    .loginhead{
        font-size: 22px;
        margin-bottom: 10px !important;
    } 
    .authtitlecont2{
        font-weight: 400;
        font-size: 12px;
        color: #fff;
	    position: absolute;
        top: 84%;
        left: 12%;
    }   
    
    .loginForm input, .inputField{
        font-size:.9em;
        padding:8px 0px;
    }

    .loginsubmit{
        cursor: pointer;
        margin-top:20px;
        color: white;
        background: linear-gradient(90deg, #EA3E00, #F26400);
        width: 75%;
        padding: 12px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
    }

    .loginForm .inputField{
        margin-bottom: 10px;
        text-align: left;
    }
    .authText{
        font-size: 12px;
        font-weight: 300;
        margin-top:45px;
    }
} 

@media screen and (min-width: 1501px){

    .authForm{
        width: 20%;
        height: 500px;
        background-color: #eee;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        -moz-box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        box-shadow: 0px 0px 73px 6px rgba(32,41,201,0.62);
        position: fixed;
        top: 50%;
        right: 15%;
        transform: translate(25%, -50%);   
        padding:30px;
      }
    
    .appLogo img{ 
        width: 60%;
    }
    
    .loginContent{
        padding: 15px 37px;
    }

    .loginhead{
        font-size: 29px;
        margin-bottom: 32px !important;
    } 

    .authtitlecont2{
        font-weight: 400;
        font-size: 12px;
        color: #fff;
	    position: absolute;
        top: 84%;
        left: 15%;
    }   

    .loginsubmit{
        cursor: pointer;
        margin-top:20px;
        color: white;
        background: linear-gradient(90deg, #EA3E00, #F26400);
        width: 70%;
        padding: 15px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 19px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(202, 202, 202, 1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(202, 202, 202, 1);
        box-shadow: 0px 0px 41px 6px rgba(202, 202, 202, 1);
        
    }

    .loginForm .inputField{
        margin-bottom: 20px;
        text-align: left;
    }
    .authText{
        font-size: 16px;
        font-weight: 300;
        margin-top:45px;
    }




}





.info-red{color:red; 

}
.loginerr{
    font-size:11px;
}

.authtitle{
    width: 100%;
    font-family: Roboto;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

   


.loginForm{text-align: center;}

.MuiFormControl-root-98{
    width:100% !important;
}
.MuiInput-underline-120:after{ 
    border-bottom: 2px solid #f44336 !important;
}
label[data-shrink="true"]{color: #f44336 !important;}


.submitField{
    text-align: center !important;
}


.authText{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #767676;

}

.authtxt{
    color:#eb5b23;
}

div[hinttext="email"], div[hinttext="password"], div[hinttext="confirm password"]{
    width:100% !important;
}