
@media screen and (min-width: 768px) and (max-width: 1500px){
.pageContainer, .appcontainer{
    height:none !important
}
.bulkuploadfield{
    height:205px;
}  
.storetextfield{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #f5f6fa;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #626262;
    padding: 5px;
}  
.storeurlfield, .cityfield, .categoryfield{
    width:95% !important;
}    
.groupcell{
    float:left;
    width:100%;
}
.location, .regioncell, .zonefieldgrp, .storesubmitField{
    float:left;
    width:100%;
}
.locationone, .locationtwo, .locationthree{
    float:left;
    width:100%;   
}

.adressonegrp, .adresstwogrp, .phonenogrp{
    float:left;
    width:60%;
    
}
.citygrp, .stategrp, .postalcodegrp{
    float:right;
    width:35%;
    margin-right:4%;    
}
.categoryfield, .adressonefield, .cityfield, .adresstwofield, .statefield, .phonenofield, .postalcodefield,
.zonefield{
    width: 95%;
    height: 45px;
    border-radius: 5px;
    background-color: #f5f6fa;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #626262;
    padding: 5px;    
}
.cityfield, .postalcodefield{
    width: 90%;
}
.statefield{
    height:55px !important;
}
.zonefield{
    width:93%;
}
.hourcell{
    float:left;
    width:60%;
}
.day{
    float: left;
    width:25%;
    display:block;
}
.day, .dayfromfield, .daytofield{
    text-align: left;
    margin-right: 20px;
    height: 45px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #626262;
}
.day{
    padding-top:2%;
    width:20%;
}
.dayfromfield, .daytofield{
    width:20%;
    border: none;
    border-radius: 5px;
    background-color: #f5f6fa;
}

.storetitle{
    text-align: left;
    margin: 10px 0px;
    padding: 15px 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #3d3d3d;   
    }
.storesubmitField{
    text-align: right;   
}    
.storesubmit{
    margin-right:10%;
    margin-top:28px;
    color: white;
    background: linear-gradient(90deg, #eb5b23, #f7931d);
    width: 20%;
    padding: 18px 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border-style: none;
    font-size: 1em;
    -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
    -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
    box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);    
}    

}


@media screen and (min-width: 1501px){
    .bulkuploadform{
        height:auto !important;
        float:left;
    }
    .pageContainer, .appcontainer{
        height:none !important
    }
    .bulkuploadfield{
        height:230px;
        width:16% !important;
    } 
    .productformctrl{
        width: 79% !important;
    }
    .storetextfield{
        width: 100%;
        height: 45px;
        border-radius: 5px;
        background-color: #f5f6fa;
        border: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #626262;
        padding: 5px;
    }  
    .storeurlfield, .cityfield, .categoryfield{
        width:95% !important;
    }    
    .groupcell{
        float:left;
        width:100%;
    }
    .location, .regioncell, .zonefieldgrp, .storesubmitField{
        float:left;
        width:100%;
    }
    .locationone, .locationtwo, .locationthree{
        float:left;
        width:100%;   
    }
    
    .adressonegrp, .adresstwogrp, .phonenogrp{
        float:left;
        width:60%;
        
    }
    .citygrp, .stategrp, .postalcodegrp{
        float:right;
        width:35%;
        margin-right:4%;    
    }
    #menu-categoryinput>div:nth-child(2){
        min-width:0% !important;
    }
    .categoryfield, .adressonefield, .cityfield, .adresstwofield, .statefield, .phonenofield, .postalcodefield,
    .zonefield{
        width: 95%;
        height: 45px;
        border-radius: 5px;
        background-color: #f5f6fa;
        border: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #626262;
        padding: 5px;    
    }
    .cityfield {
        width: 90%;
    }
    .statefield{
        width: 97%;
    }      
    .postalcodefield{
        width: 95%;
    }    
    .statefield{
        height:55px !important;
    }
    .zonefield{
        width:95%;
    }
    .hourcell{
        float:left;
        width:60%;
    }
    .day{
        float: left;
        width:25%;
        display:block;
    }
    .day, .dayfromfield, .daytofield{
        text-align: left;
        margin-right: 20px;
        height: 45px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #626262;
    }
    .day{
        padding-top:2%;
        width:20%;
    }
    .dayfromfield, .daytofield{
        width:20%;
        border: none;
        border-radius: 5px;
        background-color: #f5f6fa;
    }
    
    .storetitle{
        text-align: left;
        margin: 10px 0px;
        padding: 15px 0px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #3d3d3d;   
        }
    .storesubmitField{
        text-align: right;   
    }    
    .storesubmit{
        margin-right:10%;
        margin-top:28px;
        color: white;
        background: linear-gradient(90deg, #eb5b23, #f7931d);
        width: 20%;
        padding: 18px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);    
    }   

}
/* select */
/* MuiFomControl-root-64 SimpleSelect-formControl-62{
    max-width: none !important;
    min-width: none !important;
    width:95%;   
} */
.storecategory>div{
    max-width: none !important;
    min-width: none !important;
    width:95%;  
}
.storecategory>div>div{
    margin-top:0px !important;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f5f6fa;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #626262;
    padding: 5px;
    border-bottom:none !important;
}
.storecategory>div>div>div>div{
    background-color: rgba(0,0,0,0) !important;
}
.storecategory>div>div:before, .categorygroup>div>div:after{
    border-bottom:none !important;
}
/* select */

.errmsg{color:red}
.pageContainer, .appcontainer{
    height:none !important
}  