/* .pageContainer{
    max-width: 78% !important;
    flex-basis: 78% !important;
} */
  
textarea::-webkit-input-placeholder {
    transform:translate3d(0, 10px,0)
}
.uploadimage{
    display: flex;
    align-items: center;
    height:100%;
}
.choose_file{
    flex: 1 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .pagetitle{
        float:left;
        width: 100%;
        position: relative;
        margin-bottom: 3%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;        -webkit-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        -moz-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        border-radius: 8px;
        background-color: #ffffff;

       
    }

    * .titleicon{
        float:left;
        padding:18px 20px;
        border-radius: 8px 0px 0px 10px;
        -moz-border-radius: 8px 0px 0px 10px;
        -webkit-border-radius: 8px 0px 0px 10px;
        background: linear-gradient(-90deg, #4ba0ff, #1B62FC);
    }
    .titletext{

        float: left;
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: left;
        color: #3d3d3d;
        position: absolute;
        top: 30%;
        left: 11%;
    }
    .bulkinput{
        float:left;
        width:100%;
        padding:15px;
    
        
    }

    .bulkuploadform{
        float:left;
        width:100%;
        
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-color: #ffffff; 
        padding:30px 60px 0px;   
        box-sizing: border-box;
    }
    .bulkuploadtitle{
        padding: 15px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #3d3d3d;    
    }

    .bulkuploadfield{
        float:left;
        width:20%;
        height: 192px;
        border-radius: 8px;
        background-color: #eff2fb;
        text-align: center;    
        position:relative;
        display:inline-block; 
    }
    .bulkuploadfield p{
        /* padding: 5px 5px; */
        font-family: Roboto;
        font-size: 9px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #626262;    
    }	
    .bulkuploadfield input[type="file"]{
        -webkit-appearance:none; 
        position:absolute;
        height: 192px;
        top: 0px;
        left: 0px;
        cursor: pointer;
        opacity:0;
        width: 100%;
        z-index:1;
    }
    .producttxtfield{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        background-color: #e7e9ef;
        border: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #626262;
        padding: 5px;
    }

    .bulkuploadsubmit, .productsubmit{
        color: white;
        background: linear-gradient(90deg, #eb5b23, #f7931d);
        width: 26%;
        padding: 12px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        }
        .productsubmit{
            width: 21% !important;
            padding: 17px 10px !important;           
        }


        .bulkuploadfieldinfo, .addproductfieldinfo{
            font-family: Roboto;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
          color: #626262;  
        }
        .bulkuploadfieldinfo{
            float:left;
            width:83%;
        }
}    

@media screen and (min-width: 1025px) and (max-width: 1325px){
    .pagetitle{
        float:left;
        width: 100%;
        position: relative;
        margin-bottom: 3%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;        -webkit-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        -moz-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        border-radius: 8px;
        background-color: #ffffff;

       
    }

    * .titleicon{
        float:left;
        padding:18px 20px;
        border-radius: 8px 0px 0px 10px;
        -moz-border-radius: 8px 0px 0px 10px;
        -webkit-border-radius: 8px 0px 0px 10px;
        background: linear-gradient(-90deg, #4ba0ff, #1B62FC);
    }
    .titletext{

        float: left;
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: left;
        color: #3d3d3d;
        position: absolute;
        top: 30%;
        left: 11%;
    }
    .bulkinput{
        float:left;
        width:100%;
        padding:15px;
    
        
    }

    .bulkuploadform{
        float:left;
        width:100%;
        
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-color: #ffffff; 
        padding:30px 60px 0px;   
        box-sizing: border-box;
    }
    .bulkuploadtitle{
        padding: 15px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #3d3d3d;    
    }

    .bulkuploadfield{
        float:left;
        width:20%;
        height: 192px;
        border-radius: 8px;
        background-color: #eff2fb;
        text-align: center;    
        position:relative;
        display:inline-block; 
    }
    .bulkuploadfield p{
        /* padding: 5px 5px; */
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #626262;    
    }	
    .bulkuploadfield input[type="file"]{
        -webkit-appearance:none; 
        position:absolute;
        height: 192px;
        top: 0px;
        left: 0px;
        cursor: pointer;
        opacity:0;
        width: 100%;
        z-index:1;
    }
    .producttxtfield{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        background-color: #e7e9ef;
        border: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #626262;
        padding: 5px;
    }

    .bulkuploadsubmit, .productsubmit{
        color: white;
        background: linear-gradient(90deg, #eb5b23, #f7931d);
        width: 26%;
        padding: 12px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        }
        .productsubmit{
            width: 21% !important;
            padding: 17px 10px !important;           
        }


        .bulkuploadfieldinfo, .addproductfieldinfo{
            font-family: Roboto;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
          color: #626262;  
        }
        .bulkuploadfieldinfo{
            float:left;
            width:83%;
        }
}

@media screen and (min-width: 1326px) and (max-width: 1500px){

    .pagetitle{
        float:left;
        width: 100%;
        position: relative;
        margin-bottom: 3%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;        -webkit-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        -moz-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        border-radius: 8px;
        background-color: #ffffff;

       
    }

    * .titleicon{
        float:left;
        padding:18px 20px;
        border-radius: 8px 0px 0px 10px;
        -moz-border-radius: 8px 0px 0px 10px;
        -webkit-border-radius: 8px 0px 0px 10px;
        background: linear-gradient(-90deg, #4ba0ff, #1B62FC);
    }
    .titletext{

        float: left;
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: left;
        color: #3d3d3d;
        position: absolute;
        top: 30%;
        left: 9%;
    }
    .bulkinput{
        float:left;
        width:100%;
        padding:15px;
    
        
    }

    .bulkuploadform{
        float:left;
        width:100%;
        
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-color: #ffffff; 
        padding:30px 60px 0px;   
        box-sizing: border-box;
    }
    .bulkuploadtitle{
        padding: 15px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #3d3d3d;    
    }

    .bulkuploadfield{
        float:left;
        width:20%;
        height: 192px;
        border-radius: 8px;
        background-color: #eff2fb;
        text-align: center;    
        position:relative;
        display:inline-block; 
    }
    .bulkuploadfield p{
        /* padding: 5px 5px; */
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #626262;    
    }	
    .bulkuploadfield input[type="file"]{
        -webkit-appearance:none; 
        position:absolute;
        height: 192px;
        top: 0px;
        left: 0px;
        cursor: pointer;
        opacity:0;
        width: 100%;
        z-index:1;
    }
    .producttxtfield{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        background-color: #eff2fb;
        border: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #626262;
        padding: 5px;
    }

    .bulkuploadsubmit, .productsubmit{
        color: white;
        background: linear-gradient(90deg, #eb5b23, #f7931d);
        width: 26%;
        padding: 12px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        }
        .productsubmit{
            width: 21% !important;
            padding: 17px 10px !important;           
        }


        .bulkuploadfieldinfo, .addproductfieldinfo{
            font-family: Roboto;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
          color: #626262;  
        }
        .bulkuploadfieldinfo{
            float:left;
            width:83%;
        }

}


@media screen and (min-width: 1501px){
    .pagetitle{
        float:left;
        width: 100%;
        margin-bottom: 3%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        -moz-box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
        box-shadow: 0px 0px 110px 19px rgba(75,160,255,0.1);
       
    }

    * .titleicon{
        float:left;
        padding:25px;
        border-radius: 8px 0px 0px 10px;
        -moz-border-radius: 8px 0px 0px 10px;
        -webkit-border-radius: 8px 0px 0px 10px;
        background: linear-gradient(-90deg, #4ba0ff, #1B62FC);
    }

    .titletext{
        float:left;
       font-family: Roboto;
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: left;
        color: #3d3d3d; 
        position: absolute;
        top: 16%;
        left: 26%;
             
    }

    .bulkinput{
    float:left;
    width:100%;
    padding:20px;

    
}

    .bulkuploadform{
        width:100%;
        height:500px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-color: #ffffff; 
        padding:30px;   
        box-sizing: border-box;
    }
    .bulkuploadtitle{
        padding: 20px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #3d3d3d;    
    }

    .bulkuploadfield{
        float:left;
        width:20%;
        height: 228px;
        border-radius: 8px;
        background-color: #eff2fb;
        text-align: center;    
        position:relative;
        display:inline-block; 
    }
    .bulkuploadfield p{
        /* padding: 6px 6px; */
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #626262;    
    }	
    .bulkuploadfield input[type="file"]{
        -webkit-appearance:none; 
        position:absolute;
        height: 229px;
        top: 0px;
        left: 0px;
        cursor: pointer;
        opacity:0;
        width: 100%;
        z-index:1;
    }

    .producttxtfield{
        width: 100%;
        height: 45px;
        border-radius: 5px;
        background-color: #eff2fb;
        border: none;
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #626262;
        padding: 5px;
    }

    .bulkuploadsubmit, .productsubmit{
        margin-top:28px;
        color: white;
        background: linear-gradient(90deg, #eb5b23, #f7931d);
        width: 29%;
        padding: 15px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border-style: none;
        font-size: 1em;
        -webkit-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        -moz-box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        box-shadow: 0px 0px 41px 6px rgba(209,209,209,1);
        }

        .bulkuploadfieldinfo, .addproductfieldinfo{
            font-family: Roboto;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
          color: #626262;  
        }
        .bulkuploadfieldinfo{
            float:left;
            width:80%;
        }

}

.addproducterr, .processmsg, .errmsg{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
} 
.errmsg{ margin-left: 1%}
.processmsg{
    margin-top:15px;
}

 
.clearboth{
    clear: both;
}



.bulkuploadtitle span{
    font-style: italic;
    font-size: 16px;
}


.bulkuploadfield{
    /* float:left;
    width:20%;
    border-radius: 8px;
    background-color: #f5f6fa;
    text-align: center; */
}
.bulkuploadfieldinfo{
    float:left;
    width:80%;
}


.bulkuploadfieldinfo a{
    font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #eb6223;
  text-decoration: underline;
  cursor: pointer;
}  

.bottominputs{
    float: left;
    width:100%;
}

/* select */
/* MuiFomControl-root-64 SimpleSelect-formControl-62{
    max-width: none !important;
    min-width: none !important;
    width:95%;   
} */
.categorygroup>div{
    max-width: none !important;
    min-width: none !important;
    width:95%;  
}
.categorygroup>div>div{
    margin-top:0px !important;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eff2fb;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #626262;
    padding: 5px;
}
.categorygroup>div>div>div>div{
    background-color: rgba(0,0,0,0) !important;
}
.categorygroup>div>div:before, .categorygroup>div>div:after{
    border-bottom:none !important;
}
/* select */

.MuiInputBase-root-90{
    border-bottom:none !important;
    height: 35px;
    border-radius: 5px;
    background-color: #eff2fb;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #626262;
    padding: 5px;
}
.MuiInput-underline-81:hover:not(.MuiInput-disabled-80):not(.MuiInput-focused-79):not(.MuiInput-error-82):before{
    border-bottom:none !important;
}
.MuiInput-underline-81:before, .MuiInput-underline-81:after{
    border-bottom:none !important;
}


.choosefile{padding:20px;}
.bulkformctrl, .productformctrl{
    float:left;
    padding: 16px 40px;
    width:75%
}
.productformctrl{
padding: 0px !important;
}

.bulkformctrl .submitField{
    text-align: right !important;
}

.addproductfieldinfo .inputgroup{
    margin: 0px 0px 10px 20px;
}
.errmsg{height:20px;}

.addproducterr{
    color:red;
    margin-top: 10px;
} 
.MuiFormControl-root-66 .MultipleSelect-formControl-62 .MultipleSelect-noLabel-65{
    margin-top: unset;
}
.MultipleSelect-root-61>div{
    margin-top:0px !important;
}
.bottominputs .productsubmitField{
    text-align: right !important;
    margin-right:3% !important;
    margin-bottom:3%;    
}
.categorygroup{
    margin-bottom: 3% !important;
}
.categorygroup em{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    color: #626262; 
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}
.productpricefield:after{
    position: absolute;
    top: 0;
    content:"€";
    right: 25px;
}