@media screen and (min-width: 768px) and (max-width: 1024px){
    .bulkformctrl{
        padding: 16px 30px;
    }
}    

@media screen and (min-width: 768px) and (max-width: 1500px){
.pageContainer{
    height:100%;
}   
.bulkformctrl{
    width: 70% !important;
}
.bulkuploadform{
    padding: 30px 60px !important;
}
.bulkfilename{
    margin-top: 38%;
    font-size: 12px;
}
} 

@media screen and (min-width: 1501px){
    .bulkfilename{
        margin-top: 36%;
        font-size: 12px;
    }
}
/* .bulkuploadfield{
    display: flex;
    align-items: center;
} */