
.header{
    width:100%;
    float: left;
    margin-bottom: 2%;
 }
 .useraccount{
     float:right;
    width:40%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #1d1d1d;

    padding:10px 0px;
}

.appnav{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.appnav li{
    padding:5px;
    float:left;
}

.accinitial{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: linear-gradient(-90deg, #4ba0ff, #1c2aff);
}
.accinitial span{
    position: relative;
    top: 14%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
}

.accemail{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-top:7%;   
    color:#3d3d3d;
}
.accmenu{ margin-top:.6em !important; }
#render-props-menu>div:nth-child(2){ width:150px !important;}

#render-props-menu a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color:#3d3d3d;
}

@media screen and (min-width: 768px) and (max-width: 1500px){



}


@media screen and (min-width: 1501px){



}