.header{
   width:100%;
   float: left;
   margin-bottom: 2%;
}

.useraccount{
    width:60%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #1d1d1d;
    margin-left: 70%;
}
.menu{
    float: left;
}
.accinitial{
width: 40px;
height: 40px;
border-radius: 50%;
font-size: 15px;
color: #fff;
text-align: center;
background: linear-gradient(-90deg, #4ba0ff, #0452F9);
}
.accemail, .accmenu{
    margin-top:2%;
    margin-left:2%;
}
.accinitial p{
    margin-top:25%;    
}
.accmenu>div>div>div{
    right:1% !important;
    z-index: 1;
}




@media screen and (min-width: 768px) and (max-width: 1500px){



}


@media screen and (min-width: 1501px){



}