
@media screen and (min-width: 768px) and (max-width: 1500px){



}


@media screen and (min-width: 1600px){


}


.pageContainer{
 height: none !important;
}
.bgform{
    background:none !important;
}
.icons{
    float:left;
    width:100%;
}

.icongrp{
    float:left;
}



.icon{
    cursor: pointer;
    float:left;
    background-color: #fff;
    padding: 18px 69px;
    margin:5px 15px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 68px 7px rgba(15,25,43,0.15);
    -moz-box-shadow: 0px 0px 68px 7px rgba(15,25,43,0.15);
    box-shadow: 0px 0px 68px 7px rgba(15,25,43,0.15);
    
}

.facolor{
        background:-moz-linear-gradient(-90deg, #4ba0ff, #1c2aff); 
    background: -webkit-linear-gradient(-90deg, #4ba0ff, #1c2aff); 
    background: linear-gradient(-90deg, #4ba0ff, #1c2aff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}

.icon p{
    color:black;
}

.faicon{
    padding: 35px 20px;    
}

.fonticon{
    color:rgb(34, 34, 34);
}

